.blog-post-nature-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.blog-post-nature-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.blog-post-nature-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.blog-post-nature-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-post-nature-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.blog-post-nature-input {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.blog-post-nature-input:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.blog-post-nature-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.blog-post-nature-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.blog-post-nature-shop {
  text-decoration: none;
}
.blog-post-nature-lookbook {
  text-decoration: none;
}
.blog-post-nature-special {
  text-decoration: none;
}
.blog-post-nature-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.blog-post-nature-blog {
  text-decoration: none;
}
.blog-post-nature-contact {
  text-decoration: none;
}
.blog-post-nature-icons {
  display: flex;
}
.blog-post-nature-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.blog-post-nature-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.blog-post-nature-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.blog-post-nature-burger-menu {
  display: none;
}
.blog-post-nature-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.blog-post-nature-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.blog-post-nature-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-nature-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.blog-post-nature-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.blog-post-nature-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-post-nature-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.blog-post-nature-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.blog-post-nature-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-nature-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-nature-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-nature-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-nature-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-nature-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-nature-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.blog-post-nature-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.blog-post-nature-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.blog-post-nature-text06 {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.blog-post-nature-image4 {
  width: 854px;
  height: 365px;
  object-fit: cover;
}
.blog-post-nature-text07 {
  width: 80%;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.blog-post-nature-text11 {
  font-weight: 700;
}
.blog-post-nature-text17 {
  font-weight: 700;
}
.blog-post-nature-text23 {
  font-weight: 700;
}
.blog-post-nature-text29 {
  font-weight: 700;
}
.blog-post-nature-text35 {
  font-weight: 700;
}
.blog-post-nature-text41 {
  font-weight: 700;
}
.blog-post-nature-text47 {
  font-weight: 700;
}
.blog-post-nature-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.blog-post-nature-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-nature-text66 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-nature-text67 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.blog-post-nature-text68 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.blog-post-nature-text69 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.blog-post-nature-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-nature-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-nature-text70 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.blog-post-nature-text71 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text72 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text73 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text74 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text75 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text76 {
  color: var(--dl-color-gray-black50);
}
.blog-post-nature-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-nature-text77 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.blog-post-nature-link {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-nature-link1 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-nature-link2 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-nature-link3 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-nature-link4 {
  color: var(--dl-color-gray-black50);
  text-decoration: none;
}
.blog-post-nature-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-nature-text78 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.blog-post-nature-text79 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text80 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text81 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-nature-text82 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .blog-post-nature-container1 {
    display: none;
  }
  .blog-post-nature-left {
    display: none;
  }
  .blog-post-nature-right {
    display: none;
  }
  .blog-post-nature-icons {
    display: none;
  }
  .blog-post-nature-burger-menu {
    display: flex;
  }
  .blog-post-nature-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .blog-post-nature-logo-center1 {
    margin-left: 0px;
  }
  .blog-post-nature-footer {
    flex-direction: column-reverse;
  }
  .blog-post-nature-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .blog-post-nature-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-post-nature-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-nature-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .blog-post-nature-header {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-nature-mobile-menu {
    padding: 16px;
  }
  .blog-post-nature-footer {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-nature-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-nature-container4 {
    margin-right: var(--dl-space-space-unit);
  }
  .blog-post-nature-container5 {
    margin-right: var(--dl-space-space-unit);
  }
}
