.blog-post-chic-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.blog-post-chic-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.blog-post-chic-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.blog-post-chic-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-post-chic-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.blog-post-chic-input {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.blog-post-chic-input:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.blog-post-chic-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.blog-post-chic-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.blog-post-chic-shop {
  text-decoration: none;
}
.blog-post-chic-lookbook {
  text-decoration: none;
}
.blog-post-chic-special {
  text-decoration: none;
}
.blog-post-chic-logo-center {
  text-decoration: none;
}
.blog-post-chic-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.blog-post-chic-blog {
  text-decoration: none;
}
.blog-post-chic-contact {
  text-decoration: none;
}
.blog-post-chic-icons {
  display: flex;
}
.blog-post-chic-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.blog-post-chic-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.blog-post-chic-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.blog-post-chic-burger-menu {
  display: none;
}
.blog-post-chic-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.blog-post-chic-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.blog-post-chic-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-chic-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.blog-post-chic-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.blog-post-chic-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-post-chic-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.blog-post-chic-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.blog-post-chic-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-chic-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-chic-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-chic-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-chic-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-chic-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.blog-post-chic-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.blog-post-chic-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.blog-post-chic-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.blog-post-chic-text06 {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.blog-post-chic-image4 {
  width: 75%;
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.blog-post-chic-text07 {
  width: 80%;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.blog-post-chic-text11 {
  font-weight: 700;
}
.blog-post-chic-text12 {
  font-weight: 700;
}
.blog-post-chic-text17 {
  font-weight: 700;
}
.blog-post-chic-text18 {
  font-weight: 700;
}
.blog-post-chic-text23 {
  font-weight: 700;
}
.blog-post-chic-text24 {
  font-weight: 700;
}
.blog-post-chic-text29 {
  font-weight: 700;
}
.blog-post-chic-text30 {
  font-weight: 700;
}
.blog-post-chic-text35 {
  font-weight: 700;
}
.blog-post-chic-text36 {
  font-weight: 700;
}
.blog-post-chic-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.blog-post-chic-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-chic-text42 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-chic-text43 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.blog-post-chic-text44 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.blog-post-chic-text45 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.blog-post-chic-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-chic-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-chic-text46 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.blog-post-chic-text47 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text48 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text49 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text50 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text51 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text52 {
  color: var(--dl-color-gray-black50);
}
.blog-post-chic-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-chic-text53 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.blog-post-chic-link {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-chic-link1 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-chic-link2 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-chic-link3 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.blog-post-chic-link4 {
  color: var(--dl-color-gray-black50);
  text-decoration: none;
}
.blog-post-chic-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-chic-text54 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.blog-post-chic-text55 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text56 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text57 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-chic-text58 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .blog-post-chic-container1 {
    display: none;
  }
  .blog-post-chic-left {
    display: none;
  }
  .blog-post-chic-right {
    display: none;
  }
  .blog-post-chic-icons {
    display: none;
  }
  .blog-post-chic-burger-menu {
    display: flex;
  }
  .blog-post-chic-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .blog-post-chic-logo-center1 {
    margin-left: 0px;
  }
  .blog-post-chic-footer {
    flex-direction: column-reverse;
  }
  .blog-post-chic-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .blog-post-chic-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-post-chic-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .blog-post-chic-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .blog-post-chic-header {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-chic-mobile-menu {
    padding: 16px;
  }
  .blog-post-chic-footer {
    padding: var(--dl-space-space-unit);
  }
  .blog-post-chic-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-chic-container4 {
    margin-right: var(--dl-space-space-unit);
  }
  .blog-post-chic-container5 {
    margin-right: var(--dl-space-space-unit);
  }
}
