.lookbooks-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lookbooks-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.lookbooks-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.lookbooks-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lookbooks-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.lookbooks-input {
  color: #ffffff;
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lookbooks-input:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.lookbooks-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.lookbooks-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.lookbooks-shop {
  text-decoration: none;
}
.lookbooks-lookbook {
  text-decoration: none;
}
.lookbooks-special {
  text-decoration: none;
}
.lookbooks-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.lookbooks-blog {
  text-decoration: none;
}
.lookbooks-contact {
  text-decoration: none;
}
.lookbooks-icons {
  display: flex;
}
.lookbooks-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.lookbooks-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.lookbooks-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.lookbooks-burger-menu {
  display: none;
}
.lookbooks-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.lookbooks-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lookbooks-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lookbooks-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lookbooks-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.lookbooks-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lookbooks-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lookbooks-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.lookbooks-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.lookbooks-text01 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.lookbooks-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.lookbooks-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.lookbooks-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.lookbooks-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.lookbooks-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lookbooks-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lookbooks-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lookbooks-text06 {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.lookbooks-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.lookbooks-left1 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lookbooks-right1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.lookbooks-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.lookbooks-left2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lookbooks-right2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lookbooks-bottom {
  flex: 1;
  width: 100%;
  display: flex;
}
.lookbooks-left3 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lookbooks-right3 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.lookbooks-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.lookbooks-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.lookbooks-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.lookbooks-text07 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.lookbooks-text08 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.lookbooks-text09 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.lookbooks-text10 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.lookbooks-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.lookbooks-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.lookbooks-text11 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.lookbooks-text12 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text13 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text14 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text15 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text16 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text17 {
  color: var(--dl-color-gray-black50);
}
.lookbooks-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.lookbooks-text18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.lookbooks-link {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lookbooks-link1 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lookbooks-link2 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lookbooks-link3 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lookbooks-link4 {
  color: var(--dl-color-gray-black50);
  text-decoration: none;
}
.lookbooks-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.lookbooks-text19 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.lookbooks-text20 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text21 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text22 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.lookbooks-text23 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .lookbooks-container1 {
    display: none;
  }
  .lookbooks-left {
    display: none;
  }
  .lookbooks-right {
    display: none;
  }
  .lookbooks-icons {
    display: none;
  }
  .lookbooks-burger-menu {
    display: flex;
  }
  .lookbooks-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .lookbooks-logo-center1 {
    margin-left: 0px;
  }
  .lookbooks-left1 {
    width: 100%;
  }
  .lookbooks-footer1 {
    flex-direction: column-reverse;
  }
  .lookbooks-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .lookbooks-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lookbooks-gallery {
    flex-direction: column;
  }
  .lookbooks-top {
    flex-direction: column;
  }
  .lookbooks-bottom {
    flex-direction: column;
  }
  .lookbooks-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .lookbooks-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .lookbooks-header {
    padding: var(--dl-space-space-unit);
  }
  .lookbooks-mobile-menu {
    padding: 16px;
  }
  .lookbooks-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .lookbooks-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .lookbooks-container4 {
    margin-right: var(--dl-space-space-unit);
  }
  .lookbooks-container5 {
    margin-right: var(--dl-space-space-unit);
  }
}
