.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.sign-up-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.sign-up-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.sign-up-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.sign-up-input {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.sign-up-input:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.sign-up-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.sign-up-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
}

.sign-up-shop {
  transition: 0.3s;
  text-decoration: none;
}

.sign-up-lookbook {
  text-decoration: none;
}
.sign-up-special {
  text-decoration: none;
}
.sign-up-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.sign-up-blog {
  text-decoration: none;
}
.sign-up-contact {
  text-decoration: none;
}
.sign-up-icons {
  display: flex;
}
.sign-up-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.sign-up-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.sign-up-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.sign-up-burger-menu {
  display: none;
}
.sign-up-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.sign-up-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.sign-up-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sign-up-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.sign-up-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-up-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.sign-up-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-text3 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-text5 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.sign-up-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-up-form {
  width: 100%;
  height: 439px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-form1 {
  gap: var(--dl-space-space-fourunits);
  width: 2026px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 545px;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-sign-up {
  width: 100%;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  background-color: rgba(239, 193, 76, 1);
}
.sign-up-text7 {
  color: #fdfbfb;
}
.sign-up-navlink {
  text-decoration: none;
}
@media(max-width: 991px) {
  .sign-up-container1 {
    display: none;
  }
  .sign-up-left {
    display: none;
  }
  .sign-up-right {
    display: none;
  }
  .sign-up-icons {
    display: none;
  }
  .sign-up-burger-menu {
    display: flex;
  }
  .sign-up-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .sign-up-logo-center1 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .sign-up-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sign-up-form1 {
    gap: var(--dl-space-space-threeunits);
  }
  .sign-up-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .sign-up-header {
    padding: var(--dl-space-space-unit);
  }
  .sign-up-mobile-menu {
    padding: 16px;
  }
}
